var
env
ven
venv
venv_new
tmp
log
*.log
*.pid
*.log.*
*.pyc
*.db
*.orig
.tmp
.python-version
*.swp
.DS_Store
!.gitkeep
!log/.gitkeep
.idea
.coverage
htmlcov
scripts/ansible/.ssh/*.key
/static/
/media/
