{% extends "base.html" %} {% load cms_tags staticfiles %} 
{% block title %}{% page_attribute "page_title" %}{% endblock title %} 

{% block meta %}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock meta %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page_privacy_policy.css' %}">
{% endblock css %}

{% block content %}
<div class="privacy_container">

    <div class="main_title_container">
        <p> PRIVACY POLICY</p>
    </div><br>

    <div class="body_container">
        <p> 
        This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website. 
        </p>
    </div><br>

    <div class="sub_title_container">
        <p> What personal information do we collect from the people that visit our blog, website or app? </p>
    </div>

    <div class="body_container">
        <p> 
        When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number or other details to help you with your experience.
        <br>
        When do we collect information?
        <br>
        We collect information from you when you register on our site, place an order or enter information on our site.
        </p>
    </div><br>

    <div class="sub_title_container">
        <p> How do we use your information? </p>
    </div>

    <div class="body_container">
        <p> 
        We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, browse the website, or use certain other site features in the following ways:
            <li> To personalize user’s experience and to allow us to deliver the type of content and product offerings in which you are most interested. </li>
            <li> To improve our website in order to better serve you. </li>
            <li> To allow us to better service you in responding to your customer service requests. </li>
            <li> To administer a contest, promotion, survey or other site feature. </li>
            <li> To quickly process your transactions. </li>
            <li> To send periodic emails regarding your order or other products and services. </li>
        </p>
    </div><br>

    <div class="sub_title_container">
        <p> How do we protect visitor information? </p>
    </div>

    <div class="body_container">
        <p> 
        Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible. We use regular Malware Scanning. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
        <br>
        We implement a variety of security measures when a user places an order, enters, submits, or accesses their information to maintain the safety of your personal information.
        <br>
        All transactions are processed through a gateway provider and are not stored or processed on our servers.
        </p>
    </div><br>

    <div class="sub_title_container">
        <p> Do we use ‘cookies’? </p>
    </div>

    <div class="body_container">
        <p> 
        Yes. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables the site’s or service provider’s systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
        <br>
        We use cookies to:
            <li> Understand and save user’s preferences for future visits. </li>
            <li> Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf. </li>
        You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser’s Help menu to learn the correct way to modify your cookies.
        <br>
        If users disable cookies in their browser:
        <br>
        If you disable cookies, some features will be disabled. It will turn off some of the features that make your site experience more efficient and some of our services will not function properly, such as language auto switching. However, you can still place orders.
        </p>
    </div><br>

    <div class="sub_title_container">
        <p> Third Party Disclosure </p>
    </div>

    <div class="body_container">
        We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others’ rights, property, or safety.
        <br>
        However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
    </div><br>

    <div class="sub_title_container">
        <p> Third party links </p>
    </div>

    <div class="body_container">
        We do not include or offer third party products or services on our website.
        <br>
        How does our site handle do not track signals?
        <br>
        We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
    </div><br>

    <div class="sub_title_container">
        <p> Does our site allow third party behavioral tracking? </p>
    </div>

    <div class="body_container">
        It’s also important to note that we do not allow third party behavioral tracking.
    </div><br>

    <div class="sub_title_container">
        <p> Contacting Us </p>
    </div>

    <div class="body_container">
        If there are any questions regarding this privacy policy you may contact us using the information below.
        <br>
        <a href="/"> www.mygululu.com </a>
        <br>
        113 Barksdale Professional Center Newark, DE 19711 USA
        <br>
        customer-service@bowhead-tech.com
    </div>
</div>

{% endblock content %}
